*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: black;
}

header {
    color: darkred;
    font-size: 40px;
    font-family: fantasy;
    padding-bottom: 20px;

}    

header h1 {
    display: inline-block;
}

header div {
     float: right;

}

header div ul {
    list-style-type: none;
    padding-top: 50px;
    font-size: 25px;
    margin-bottom: 100px;
}

header div ul li {
    display: inline-block;
}

a {
    color: darkred;
    display: block;
    padding: 6px

}

section {
    height: 100px;
    width: 100%;
    padding: 20px;
    background-image: url("../BFS\ Stickers.png");
    background-size: cover;
    background-position: top;

}

section h2 {
    float: right;
    margin-right: 65px;
    margin-top: 200px;
    padding-bottom: 12px;
    font-size: 35px;
    font-family: 'Times New Roman', 'Times', 'serif';
    color: darkred; 
}
.about-me {

}

.about-me-img{

}

.work-me{

}

.work-me-img{

}

.contact-me{

}


.contact-me-img{
    
}